<div class="pokemon-card">
    <div class="pokemon-card-description">
        <div class="pokemon-card-description__title">
            <span>Bulbasaur</span>
            <span>#{{utilsService.formatPokemonNumber(numPokemon)}}</span>
        </div>
        <div class="pokemon-card-description__types">
            <div class="pokemon-card-description__type pokemon-card-description__type--grass">Grass</div>
            <div class="pokemon-card-description__type pokemon-card-description__type--poison">Poison</div>
        </div>
    </div>
    <div class="pokemon-card__stats">
        <img src="https://cdn.traction.one/pokedex/pokemon/1.png" alt="">
        <div>
            <span>HP</span>
            <progress value="45" max="100">45%</progress>
        </div>
        <div>
            <span>ATK</span>
            <progress value="49" max="100">49%</progress>
        </div>
        <div>
            <span>DEF</span>
            <progress value="49" max="100">49%</progress>
        </div>
    </div>
</div>