<div class="pokemon-card">
    <div class="pokemon-card-description">
        <div class="pokemon-card-description__title">
            <span>{{pokemon.name}}</span>
            <span>#{{utilsService.formatPokemonNumber(pokemon.id)}}</span>
        </div>
        <div class="pokemon-card-description__types">
            <div *ngFor="let type of pokemon.types" class="pokemon-card-description__type pokemon-card-description__type--{{type.toLowerCase()}}">{{type}}</div>
        </div>
    </div>
    <div class="pokemon-card__stats">
        <img src="{{ pokemon.image }}" alt="{{ pokemon.image }}">
        <div>
            <span>HP</span>
            <progress value="45" max="100">45%</progress>
        </div>
        <div>
            <span>ATK</span>
            <progress value="49" max="100">49%</progress>
        </div>
        <div>
            <span>DEF</span>
            <progress value="49" max="100">49%</progress>
        </div>
    </div>
</div>