* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #fff;

  position: relative;

  &::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url("/assets/bg-pattern.jpg");
    background-repeat: repeat;
    width: 100%;
    height: 100%;

    filter: brightness(.2);
  }
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
