* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  color: #fff;

  &::before {
    z-index: -1;
    position: absolute;
    inset: 0;
    content: "";
    background-image: url("assets/bg-pattern.jpg");
    background-repeat: repeat;
    filter: brightness(.2)
  }
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
